<form class="admin">
    <h2>Create new card</h2>
    <label class="admin-label">
        <span class="title">Video title</span>
        <input type="text" class="admin-input" name="videoTitle" [(ngModel)]="videoTitle">
    </label>
    <label class="admin-label">
        <span class="title">Description</span>
        <input type="text" class="admin-input" name="descr" [(ngModel)]="descr"></label>
    <label class="admin-label">
        <span class="title">Img</span>
        <input type="text" class="admin-input" name="imgLink" [(ngModel)]="imgLink"></label>
    <label class="admin-label">
        <span class="title">Link to video</span>
        <input type="text" class="admin-input" name="videoLink" [(ngModel)]="videoLink">
    </label>
    <button class="admin-button" (click)="toTheStore()">
        Create card
    </button>
</form>