.account {
    position: absolute;
    top: 0px;
    right: -2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 48px;
    font-weight: 600;
    font-family: 'Georama', sans-serif;
    color: #fff;
    cursor: pointer;

    &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 125px;
        height: 35px;
        padding: 0px 10px;
        border-radius: 25px;
        border: none;
        box-shadow: 2px 1px 5px 0px #5670af;
        background-color: #5670af;
        font-family: 'Georama', sans-serif;
        font-style: italic;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        color: #fff;
        cursor: pointer;
        outline: none;
    }
}
