<form class="form">
    <h3 class="form-header">login</h3>   
    <label class="form-label">
        login
        <input class="form-input" type="text" name="" id="">
    </label>
    <label class="form-label">
        password
        <input class="form-input" type="text" name="" id="">
    </label>
    <div class="form-footer">
        <button class="form-btn form-reg">
            registration    
        </button>
        <button class="form-btn form-submit" (click)="createToken($event)">
            login
        </button>
    </div>
</form>